gcc>=13.3.0,<=14.2.0
openjdk>=23.0.2
python>=3.9.1
rust>=1.77.2
go>=1.24.5
ruby>=3.4.4
nodejs>=24.4.0
deno>=2.3.4
typescript>=5.7.3
mono>=6.12
compilers>=1.10
kotlin>=2.2.20
php>=8.1.0
scala3==3.4.2
pip>=25.2
setuptools>=80.9
wheel>=0.45.1
pytest>=8.4.2
datasets==3.6.0
openai>=1.109
tqdm
numpy
pandas
httpx
pebble
